!!!5
html
  head
    title #{title} - tumblrbitch
    link(rel='stylesheet', href='/stylesheets/application.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

    script(src="/javascripts/underscore.js")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/interface.js")
    block head
  body(class=body_class)
    if (flash_messages)
      each messages, type in flash_messages
        .messages(class="messages-" + type)
          each message in messages
            .message= message
      
    nav.main-nav
      a.home-link(href='/organize')
        h1 tumblrbitch

      //- != JSON.stringify(user)

      each s in user.streams
        - var active = stream ? (stream.slug === s.slug ? 'active' : '') : '';
        a(href='/streams/' + s.slug, class=active)= s.name

    .main-stream
      block main


    script(id="IntercomSettingsScriptTag").
      window.intercomSettings = {
        email: "#{user.username}@tumblrbitch.com",
        user_id: "#{user._id}",
        created_at: #{user.created_at},
        app_id: "198718449d7e8e09adafbe982c3858c8e6bc3c44",
        streams_count: #{user.streams.length}
      };
    script.
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()
